@page
@model CropChain.Pages.DataPageModel
@using CropChain.Models

@{
    ViewData["Title"] = "Data Page";
}
<h1>@ViewData["Title"]</h1>

<h2>Humidity</h2>

<p>
    Latest measurement: @Model.GetDataCollection().getLatest().Timestamp.ToString() - @Model.GetDataCollection().getLatest().Data.ToString()
</p>

@{
    for (int i = 0; i < Model.GetNPlots(); i++)
    {
        string source = "~/resources/temp" + i.ToString() + ".png";
        <img src="@Url.Content(source)" width=1000 style="margin:0px 20px;" alt="Measured Data">
    }
}